<!DOCTYPE html><html>

<head>
    
     <link href="css/loginstyle.css" rel="stylesheet" type="text/css">
</head>

<body>
    
    <div id="wrapper">
            <img id="banner" src="images/duellquizbanner.png">
    <br>
    <br>
    <br>
        <form action="editpt2" method="post">
        
        <p><input type="text" name="age"> Age</p>
        <p><textarea name="comment" cols="20" rows="4" maxlength="40"> </textarea> Comment</p>
        <button type="submit"> OK </button>    
        
        
        
        </form>
    </div>    
    
</body>    


</html>