<!DOCTYPE html><html>

<head>
    
     <link href="css/loginstyle.css" rel="stylesheet" type="text/css">
</head>

<body>
    
    <div id="wrapper">
    <div id="banner"> <img src="images/duellquizbanner.png"> </div>
    <br>
    <h3><%= message %> </h3>
    <br>    
    <a href="/">Register/Login</a>
    </div>    
    
</body>    


</html>