<!DOCTYPE html><html>

<head>
    <title>Login/Register</title>
    <link href="css/loginstyle.css" rel="stylesheet" type="text/css">
</head>

<body>
    
    <div id="wrapper">
    <div id="banner"> <img src="images/duellquizbanner.jpg"> </div>
    
    <div id="register">
    
        <h1>Registration</h1>
        <br><p><%= typeof message1 != 'undefined' ? message1 : '' %></p>
    <form action="/register" method="post">
        <br> <p><input type="text" name="username" maxlength="12"> Username </p>
        <br> <p><input type="password" name="password" maxlength="12"> Password </p>
        <br> <p><input type="text" name="email"> E-mail </p>
        <br><button type="submit">Send</button>
        </form>
    </div>
    
    <div id="login">
    
        <h1>Login</h1>
        <br><p><%= typeof message2 != 'undefined' ? message2 : '' %></p>
        <form action="/login" method="post">
            <p><input type="text" name="username" maxlength="12"> Username </p>
           <br> <p><input type="password" name="password" maxlength="12"> Password </p>
            <br><button class="logbutton" type="submit">Login</button>
        
        </form>
    
    </div>
        
    </div>    
</body>
</html>