<!DOCTYPE html><html>

<head>
    <title>Login/Register</title>
    <link href="loginstyle.css" rel="stylesheet" type="text/css">
</head>

<body>
    
    <div id="wrapper">
    <div id="banner"> <img src="images/duellquizbanner.jpg"> </div>
    
    <div class="register">
    
        <h1>Registration</h1>
        <hr>
        <br><p><%= typeof message1 != 'undefined' ? message1 : '' %></p>
    <form action="/register" method="post">
        <br> <p> Username <input type="text" name="username" placeholder="Enter Username" maxlength="12"></p>
        <br> <p> Password <input type="password" name="password" placeholder="Enter Password" maxlength="12"></p>
        <br> <p> E-mail <input type="text" placeholder="Enter E-Mail Adress" name="email"></p>
        <br><button type="submit">Send</button>
        </form>
    </div>
    
    <div class="login">
    
        <h1>Login</h1>
        <hr>
        <br><p><%= typeof message2 != 'undefined' ? message2 : '' %></p>
        <form action="/login" method="post">
            <p> Username <input type="text" name="username" placeholder="Enter Username" maxlength="12"></p>
            <br><p> Password <input type="password" name="password" placeholder="Enter Password" maxlength="12"></p>
            <br><button type="submit">Login</button>
        
        </form>
    
    </div>
        
    </div>    
</body>
</html>