<!DOCTYPE html><html>

<head>
    
       <link href="css/profilestyle.css" type="text/css" rel="stylesheet">
    
    </head>


    <body>
    
    <div id="wrapper">
        
    <div id="banner"> <img src="images/duellquizbanner.png"> </div>
    
    <div id="navi">
            
    <p id="menü"> 
        
     <a href="#">Home</a>   
     <a href="/profile">Profil</a>   
     <a class="play" href="/start">Play</a>   
     <a href="#">Leaderboard</a>   
     <a href="/logout">Logout</a>   
        
    </p>    
        
    </div>
        
        <form action="/startgame" method="post">
            <button class="answerbuttons" type="submit">Start Game </button> 
        </form>
        
    </div>
    </body>
</html>