<!DOCTYPE html><html>

<head>
    
       <link href="css/profilestyle.css" type="text/css" rel="stylesheet">
    
	<style>
	
		.answerbuttons{
			float: left;
			font-size: 60px;
			margin-top: 1em;
		}
		#menü{
			position: relative;
			text-align: center;
		}
		
	</style>
	
    </head>


    <body>
    
        
    <img id="banner" src="images/duellquizbanner.png">
    
    <div id="navi">
            
    <p id="menü"> 
        
     <a href="#">Home</a>   
     <a href="/profile">Profil</a>   
     <a class="play" href="/start">Play</a>   
     <a href="#">Leaderboard</a>   
     <a href="/logout">Logout</a>   
        
    </p>    
        
    </div>
        
        <form action="/startgame" method="post">
            <button class="answerbuttons" type="submit">Start Game </button> 
        </form>
        
    </div>
    </body>
</html>