body {
    background-color: rgb(223, 223, 223);
    font-weight: 600;
    font-family: Helvetica, sans-serif;
}
#banner{
    background-position:center;
    background:  no-repeat;
    background-size: contain;
    max-width: 100%;
    overflow: hidden;
    margin: 0px;
}

input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid rgb(226, 125, 57);
    background: transparent;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

p {
    margin: 0em 1em 0.3em 0em;
}

.login, .register {
    float: left;
    position: relative;
    margin: 4em 6em;
    padding-right: 0.7em;
}

button[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    width: 80px;
    background: rgb(226, 125, 57);
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    transition: 0.25s;
}
button[type="submit"]:hover
{
    cursor: pointer;
    background: rgb(250, 181, 135);
    color: #000;
}