*{
    margin: 0;
    padding: 0;
}

body{
	background-color: rgb(223, 223, 223);
	font-family: Helvetica, sans-serif;
}

#wrapper{
    width:1300px;
    margin:auto;
}
#banner{
    background-position:center;
    background:  no-repeat;
    background-size: contain;
	max-size: 60%;
    max-width: 100%;
    overflow: hidden;
    margin: 0px;
}


#menü{
    margin-top: -5px;
	background-color: rgb(204, 204, 204);
}

#menü ul{
    display: block;
    float: left;
    list-style: none;
}
#menü ul:after { /* was nach jedem listenelement gezeigt werden soll (z.b. ein block) funzt noch nicht!*/
    content: " ";
    display: block;
}
#menü li {
    display: inline-block;
    padding: 10px 0.5em;
}


#menü a{
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.2em;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:110px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(54, 118, 190);

    /*Unteres macht smoothe transitions beim hovern */
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
    
    
}

#menü a.play{
    font-size: 2.5em;
    font-weight: 600;
}

#menü a:hover{
    color: rgb(223, 223, 223);
    
}

#titelbild{
    height:300px; 
    border:solid black 1px;
}

#profilbild{
    position:absolute;
    left:740px;
    top:320px;
    width:150px;
    height:180px;
    border:solid black 1px;
}

#titelbild img{
    z-index: 0;
    width:1300px;
    height:300px;
}

#profilbild img{
    z-index: 1;
    width:150px;
    height:180px;
}

#userinfo{
    height:200px;
    border:solid black 1px;
    margin-right:700px;
}

#user h2{
    margin-top: 5px;
    margin-left: 140px;
}

#pbchanger{
    width:200px;
    margin-left: 850px;
}

#pbchanger button{
    position: absolute;
    top: 570px;
    right: 195px;
    font-size: 1.2em;

}

#editprofile button{
    position: absolute;
    top: 570px;
    right: 450px;
    font-size: 1.2em;
}

#editprofile button:hover{
   border:solid white 3px;
}

#pbchanger button:hover{
    border:solid white 3px;

}
#statistik{
    height:300px;
    border:solid black 1px;
    
}
#statistik h2{
    margin-top: 40px;
    margin-left: 140px;
}

#titelbild form{
    position:absolute;
    right:195px;
    top:400px;
}

#titelbild form:hover{
    border:solid white 3px;
}

.answerbuttons{
    position: relative;
	left: 35%;
    background-color: rgba(255, 255, 255, 0.13);
    color: rgb(211, 103, 32);
    font-size: 2em;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    padding: 1.5em 2em;
    transition: 0.5s;
}

.answerbuttons:hover{
    color:blue;
    background-color: gray;
}
